<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="sqlServer" connectionString="Data Source=.\SQLExpress;Initial Catalog=SimpleServiceStack_Dev;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <httpHandlers>
            <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
        </httpHandlers>

        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
            <buildProviders>
                <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
            </buildProviders>
        </compilation>

    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
        </handlers>

        <!--url rewrite module rules for mapping the /client/index.html page to / -->
        <rewrite>
            <rules>
                <!-- map static HTML5 content in the /client folder to the root of the site -->
                <rule name="client" stopProcessing="true">
                    <match url="^(.*\.(json|css|html|js|png|gif|map))" />
                    <action type="Rewrite" url="/client/{R:1}" />
                </rule>

                <!-- redirect any direct requests for /client to the default action -->
                <rule name="client-redirect" stopProcessing="true">
                    <match url="^client/.*$" />
                    <action type="Redirect" url="/" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <appSettings>
        <add key="webPages:Enabled" value="false" />
    </appSettings>
    <system.web.webPages.razor>
        <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <pages pageBaseType="ServiceStack.Razor.ViewPage">
            <namespaces>
                <add namespace="ServiceStack.Html" />
                <add namespace="ServiceStack.Razor" />
                <add namespace="ServiceStack.Text" />
                <add namespace="ServiceStack.OrmLite" />
                <add namespace="SimpleServiceStack" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="console" xsi:type="ColoredConsole"
                layout="${date}|${level}|${stacktrace}|${message}" />
            <target name="file" xsi:type="File" fileName="${basedir}/App_Data/Logs/site.log"
                layout="${date}: ${message}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Info" writeTo="console" />
            <logger name="*" minlevel="Info" writeTo="file" />
        </rules>
    </nlog>
    
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
